body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #555;
    background-color: #fff;
}

.toolbar-line {
    padding: 10px 10px 0px 10px;
}

.toolbar-line input[type=text] {
    width: 100%;
}

.toolbar-line input[type=button] {
    padding: 4px 16px;
}
