html,
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-width: 600px;
    min-height: 400px;
    overflow: scroll;
}

.aesapp-form input[type="password"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    padding: 7px;
    border: 1px solid RGB(210, 71, 28);
    background: RGB(242, 200, 192);
    border-radius: 4px;
    color: RGB(210, 71, 28);
}

.aesapp-form input:focus[type="password"] {
    flex-grow: 1;
    background-color: #fff;
    color: #000;
}

.aesapp-form input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: RGB(210, 71, 28);
    opacity: 1;
    /* Firefox */
}

.aesapp-form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: RGB(210, 71, 28);
}

.aesapp-form input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: RGB(210, 71, 28);
}

.aesapp-form textarea {
    resize: none;
    overflow: hidden;
}

.aesapp-form input[type="button"] {
    -moz-box-shadow: inset 0px 1px 0px 0px RGB(242, 200, 192);
    -webkit-box-shadow: inset 0px 1px 0px 0px RGB(242, 200, 192);
    box-shadow: inset 0px 1px 0px 0px RGB(242, 200, 192);
    background: RGB(242, 200, 192);
    border: 1px solid RGB(242, 200, 192);
    display: inline-block;
    cursor: pointer;
    color: RGB(210, 71, 28);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 6px 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

.aesapp-form input:hover[type="button"] {
    -moz-box-shadow: inset 0px 1px 0px 0px RGB(244, 244, 244);
    -webkit-box-shadow: inset 0px 1px 0px 0px RGB(244, 244, 244);
    box-shadow: inset 0px 1px 0px 0px RGB(244, 244, 244);
    background: RGB(244, 244, 244);
    border: 1px solid RGB(244, 244, 244);
}


.toolbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: #fff;
    background-color: RGB(210, 71, 28);
}

.toolbar__title-container {
    display: flex;
    padding-right: 20px;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.toolbar__input-container {
    display: flex;
    flex-grow: 1;
    padding-right: 20px;
}

.toolbar__key-input {
    width: 200px;
}


.toolbar__button-container input {
    margin-right: 10px;
}

.editor {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    background-color: RGB(248, 248, 248);
}

.editor textarea {
    flex-grow: 1;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay__confirm-form {
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: RGB(210, 71, 28);
    border: 1px solid #fff;
    padding: 20px;
}

.overlay__confirm-form input[type=password] {
    flex-grow: 1;
}

.overlay__confirm-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.overlay__confirm-buttons input[type=button] {}