html,
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-width: 600px;
    min-height: 400px;
    overflow: scroll;
}

.toolbar-form input[type="password"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    padding: 7px;
    border: 1px solid RGB(210, 71, 28);
    background: RGB(242, 200, 192);
    border-radius: 4px;
}

.toolbar-form textarea {
    resize: none;
    overflow: hidden;
}

.toolbar-form input[type="button"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #FFF;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFF;
    box-shadow: inset 0px 1px 0px 0px #FFF;
    background-color: RGB(244, 244, 244);
    border: 1px solid RGB(244, 244, 244);
    display: inline-block;
    cursor: pointer;
    color: RGB(210, 71, 28);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 6px 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}


.toolbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: #fff;
    background-color: RGB(210, 71, 28);
}

.toolbar__title-container {
    display: flex;
    padding-right: 20px;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.toolbar__input-container {
    display: flex;
    flex-grow: 1;
    padding-right: 20px;
}

.toolbar__key-input {
    margin-left: 10px;
    width: 200px;
    color: RGB(210, 71, 28);
}

.toolbar__key-input:focus {
    flex-grow: 1;
    background-color: #fff;
    color: #000;
}

.toolbar__key-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: RGB(210, 71, 28);
    opacity: 1;
    /* Firefox */
}

.toolbar__key-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: RGB(210, 71, 28);
}

.toolbar__key-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: RGB(210, 71, 28);
}

.toolbar__button-container {}

.editor {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    background-color: RGB(248, 248, 248);
}

.editor textarea {
    flex-grow: 1;
}